<video id="videoElement" width='100%' class="vjs-default-skin mr-4 vjs-big-play-centered vjs-16-9" controls></video>
<div class="container-fluid">
    <!-- <div class="d-flex flex-row-reverse">
    <div *ngFor="let message of messages">
    {{message}}
    </div>

    <input [(ngModel)]="message" />
    <button (click)="sendMessage()">Send</button>
    </div> -->

    <div class="row">
        <h2>Realtime Chat Application</h2>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" [(ngModel)]="user" class="form-control" id="username" placeholder="Enter username">
                <!-- <small id="userHelp" class="form-text text-muted">Type your username.</small> -->
            </div>
        </div>
        <div class="col-sm-5">
            <label for="roomInput">Choose room</label>
            <select name="roomInput" id="roomInput" class="form-control" [(ngModel)]="room">
                <option value="Lobby">Lobby</option>
                <option value="Hall">Hall</option>
                <option value="Deluxe">Deluxe</option>
            </select>
        </div>
        <div class="col sm-2">
            <div style="margin-top:19px;" class="pull-right"> 
                <button type="button" class="btn btn-primary" [routerLink]="['/chat', room]" (click)="join()">Join</button>
                <!-- <button type="button" class="btn btn-default" (click)="leave()">Leave</button> -->
            </div>
        </div>
    </div>

   
</div>
<!-- <div *ngFor="let message of messages">
    {{message}}
</div>

<input [(ngModel)]="message" />
<button (click)="sendMessage()">Send</button> -->
